<mat-card class="card" *ngIf="ProductDetail$ | async as product; else nodata">
  <mat-card-header>
    <mat-card-title>{{product?.title}}</mat-card-title>
    <mat-card-subtitle>ID: {{product?.id}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{product?.image}}" alt="image">
  <mat-card-content>
    <p>Price: {{product?.price}}</p>
    <p>
      {{product?.description}}
    </p>
  </mat-card-content>
</mat-card>

<ng-template #nodata>
  <div>No data found</div>
</ng-template>
