<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{productDetail?.title}}</mat-card-title>
    <mat-card-subtitle>ID: {{productDetail?.id}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{productDetail?.image}}" alt="image">
  <mat-card-content>
    <p>Price: {{productDetail?.price}}</p>
    <p>
      {{productDetail?.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button color="primary" mat-button (click)="backToProductsList()">Back to products list</button>
  </mat-card-actions>
</mat-card>
